## Temporary files
*.~*
**/.ipynb_checkpoints/
**/__pycache__/
## IDE files
**/.idea
## Data files
**/*.csv
**/*.gz
**/*.xls*
**/*.log
**/*.txt
!requirements.txt
## Data folder
**/_data/*
!**/_data/.gitkeep
## Model files
**/*.pkl
**/*.pickle
**/*.lgb*
## Experiment zone
**/_experiments/*
!**/_experiments/.gitkeep
